{% extends 'base.html' %}

{% block bloco %}
{% load staticfiles %}

<div class="box">
    <h1>Nossos peludos estão ansiosos á espera de um lar!</h1>
        <ul class="cards">
            {% for Animal in animais %}
            <li class="cards_item"> 
            <a href="#">
                <div class="card">
                    <div class="card_image">
                        <img src="{{Animal.imagemAnimal.url}} ">
                    </div>
            </a>           
                    <div class="card_content">
                        <h2 class="card_title">{{Animal.nomeAnimal}}</h2>
                        <p class="card_text">{{Animal.get_sexo_display}}</p>
                        <p class="card_text">{{Animal.get_porte_display}}</p>
                        <div class="botao">
                            <button class="btn card_btn">Ver Mais</button>
                        </div>
                        
                    </div>
                </div>
             
            </li>
            {% endfor %}
        </ul>
</div>


<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if animais.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
        {% endif %}
        {% if animais.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ animais.next_page_number }}">Próxima</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ animais.paginator.num_pages }}">Última</a></li>
        {% endif %}
      </ul>
    </nav>
    </div>

{% endblock %}
